<div class="container">

  <h1>List Cart Items</h1>

  <form class="form-group" #itemForm="ngForm" (ngSubmit)="addNewItem(itemForm)">
    <label for="">Item Name</label>
    <input class="form-control" type="text" ngModel name="product">

    <label for="">Price</label>
    <input class="form-control" type="number" ngModel name="price">

    <label for="">Quantity</label>
    <input class="form-control" type="number" ngModel name="quantity">

    <button class="btn btn-success">Add</button>
  </form>

  <div class="form-group" *ngFor="let item of cartitems; index as i">
    <p>ID: {{ item.id }}</p>
    <p>NAME: {{ item.product }}</p>
    <p>PRICE: {{ item.price }}</p>
    <p>QUANTITY: {{ item.quantity }}</p>
    <button class="btn btn-success" (click)="deleteItems(item.id)">Delete Item</button>
    <button class="btn btn-success" (click)="toggleForm(i)">Edit</button>

    <form *ngIf="item.beingUpdated" #updateForm="ngForm" (ngSubmit)="updateItems(item)">
      <!-- <label for="">Edit This Item</label>
        <input class="form-control" type="text" ngModel name="updateditemname"> -->

      <label for="">Item Name</label>
      <input class="form-control" type="text" [(ngModel)]="item.product" name="product">

      <label for="">Price</label>
      <input class="form-control" type="number" [(ngModel)]="item.price" name="price">

      <label for="">Quantity</label>
      <input class="form-control" type="number" [(ngModel)]="item.quantity" name="quantity">

      <button class="btn btn-success">Update Item</button>
    </form>
  </div>

</div>